<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.core.js"></script>
    <script src="./js/config.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <label>学校A</label>
            <input type="text" name="name" placeholder="请填入学校A的ID" v-model="schoolAID" v-on:change="getRecommend" />
            <button v-on:click="getRecommend">刷新</button>
            <input id="listNodelCB" type="checkbox" v-model="showModel" value="true" />
            <label for="listNodelCB">列表模式</label>
            <p>{{message}}</p>
            <table border="1" v-if="!showModel">
                <thead>
                    <tr>
                        <th colspan="7">学校A</th>
                        <th colspan="7">学校B</th>
                        <th rowspan="2">推荐分值</th>
                        <th rowspan="2">加分明细</th>
                    </tr>
                    <tr>
                        <!--学校A-->
                        <th>学校ID</th>
                        <th>区域</th>
                        <th>学校类型</th>
                        <th>学校评分</th>
                        <th>学校认证</th>
                        <th>课程设置</th>
                        <th>特色课程</th>
                        <!--学校B-->
                        <th>学校ID</th>
                        <th>区域</th>
                        <th>学校类型</th>
                        <th>学校评分</th>
                        <th>学校认证</th>
                        <th>课程设置</th>
                        <th>特色课程</th>
                        <!--留白-->

                    </tr>
                </thead>
                <tbody>
                    <tr v-for="schoolMap in schoolMaps" row>
                        <!--学校A-->
                        <td>{{schoolMap.schoolP.id}}</td>
                        <td>{{schoolMap.schoolP.area}}</td>
                        <td>{{schoolMap.schoolP.schFtype}}</td>
                        <td>{{schoolMap.schoolP.score}}</td>
                        <td>{{schoolMap.schoolP.authentication}}</td>
                        <td>{{schoolMap.schoolP.courseSetting}}</td>
                        <td>{{schoolMap.schoolP.specialCourse}}</td>
                        <!--学校B-->
                        <td>{{schoolMap.schoolS.id}}</td>
                        <td>{{schoolMap.schoolS.area}}</td>
                        <td>{{schoolMap.schoolS.schFtype}}</td>
                        <td>{{schoolMap.schoolS.score}}</td>
                        <td>{{schoolMap.schoolS.authentication}}</td>
                        <td>{{schoolMap.schoolS.courseSetting}}</td>
                        <td>{{schoolMap.schoolS.specialCourse}}</td>
                        <!--推荐分值-->
                        <td>{{schoolMap.score}}</td>
                        <!--加分明细-->
                        <td>{{schoolMap.remark}}</td>
                    </tr>
                </tbody>
            </table>
            <ul v-else>
                <li v-for="schoolMap in schoolMaps">
                    {{schoolMap.schoolS.detail.schoolName}}  
                    <span style="color:green;"> 推荐分值：{{schoolMap.score}}</span>
                    <span style="color:blue;">加分明细：{{schoolMap.remark}}</span>
                </li>
            </ul>
        </div>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            mounted: function () {

            },
            data: {
                message: '',
                schoolMaps: [],
                schoolAID: '72393da8-70c7-4e5d-8c0e-e9d5cfab5ec8',
                showModel: false,

            },
            methods: {
                getRecommend: function (e) {
                    var _this = this;
                    _this.message = '请求中，请稍等....'
                    $.get(config.host + '/api/recommend/GetSchools/ExtId?eid=' + _this.schoolAID + '&offset=0&limit=100000', function (data) {
                        _(data.data).forEach((value,index) => {
                            _this.getSchools(value).then((res) => {
                                if (res.succeed) {
                                    value.schoolS.detail = res.data
                                } else {
                                    value.schoolS.detail = {
                                        schoolName: "暂未找到（有可能下架了。）"
                                    }
                                }
                                if (index == data.data.length -1 ) {
                                    _this.schoolMaps = data.data;
                                    _this.message = '完成!'
                                }
                            });
                        })

                    });
                },
                getSchools: function (schoolMap) {
                    return new Promise((resolver, reject) => {
                        $.ajax({
                            type: 'get',
                            url: 'https://m.sxkid.com/School/GetSchoolCardInfo',
                            contentType: 'application/json',
                            data: { extId: schoolMap.schoolS.id },
                            success: function (res) {
                                resolver(res)
                            }
                        })
                    });
               
                }
            }
        })

    </script>
</body>
</html>